extends layout

block content

  h1
    p Do you really want to delete this Book Instance?
  a(href=bookInstance.url) #{bookInstance.book.title} : #{bookInstance.imprint} -&nbsp;
    if bookInstance.status=='Available'
        span.text-success #{bookInstance.status}
    else if bookInstance.status=='Maintenance'
        span.text-danger #{bookInstance.status}
    else
        span.text-warning #{bookInstance.status}
    if bookInstance.status!='Available'
        span  (Due: #{bookInstance.due_back_formatted} )
  form(method='POST')
    div.form-group
    input#bookid.form-control(type='hidden', name='bookinstanceid', value=bookInstance._id )

    button.btn.btn-primary(type='submit') Delete